/* border-box hack */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/* chef aquino's special sauce */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* begin "picture frame" technique to resize images */
.thumbnail-item {
    /* 1. controls the size of the image */
    width: 150px;
    height: 150px;
}

.thumbnail-item > img {
    /* the img adapts to its parent */
    /* choose either the height or width, not both */
    width: 100%;
}
/* end "picture frame" technique to resize images */

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
}