/* border-box hack */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/* chef aquino's special sauce */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* begin "picture frame" technique to resize images */
.thumbnail-item {
    /* 1. controls the size of the image */
    height: 150px;
    width: 30%;    
    margin-bottom: 20px;
    /* outline: 1px solid red; */

    /* 
    alternative to using
    flexbox for centering
    of images or text.
     */
    text-align: center;
}

.thumbnail-item > img {
    /* the img adapts to its parent */
    /* definitely, absolutely use both max-height and max-width */
    max-height: 100%;
    max-width: 100%;
}
/* end "picture frame" technique to resize images */

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    /* space-* distributes leftover space */
    justify-content: space-around;
}

.picture-frame {
    width: 90%;
    /* outline: 5px solid red; */
    margin: 0 auto;
    text-align: center;
}
.picture-frame > img {
    /* the img adapts to its parent */
    /* definitely, absolutely use both max-height and max-width */
    max-height: 100%;
    max-width: 100%;
}

.modal {
    /* 
        1. cover the whole page
            - yep, overlap everything
        2. put a see-through grey color on top of the page
        3. center the contents
    */

    /* 
    To make things overlap, use postion: absolute.
    This lets you set coordinates for where exactly
    you want to place an element.
     */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
     /* border: 5px solid red; */

    background-color: rgba(0, 0, 0, 0.7);
    /* background-color: rgba(0, 0, 0, 1.0);
    opacity: 0.7; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-hidden {
    /* visibility: hidden; */
    display: none;
}
